@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.logo {
  width: 100%;
  display: block;
  margin: 0 auto;
}

h1 {
  padding: 1rem 1rem 1rem 0.7rem;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.5em;
  color: white;
  background-color: black;
}

nav ul li{
  background-color: black;
  width: 100%;
  list-style-type: none;
}


nav ul li a:hover {
  color: black;
  background-color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  display: block;
  padding: 0.70em;
}

nav ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.sk8 {
  display: block;
  padding: 0.5em;
  padding-top: 0;
  overflow: hidden;
}

.sk8-1 {
  width: 48%;
  float: left;
}

.sk8-2 {
  width: 48%;
  float: right;
}

p {
  background-color: white;
  padding: 15px;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}

h2 {
  padding: 1rem 1rem 1rem 0.7rem;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  font-size: 1em;
  color: white;
  background-color: black;

}

.cont ul li a {
  text-decoration: none;
  color: darkblue;
}

.cont ul li {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

ul {
  padding-left: 15px;
}

@media only screen and (min-width: 35em) {

  .logo {
    width: 20em;
    margin: 0 auto;
    padding: 2em;
  }

  .header {
    background-color: black;
  }

  h1 {
    text-align: center;
  }

  nav ul li {
    width: 33.333333333333%;
    float: left;
    text-align: center;
    margin-bottom: 1em;
  }
  p {
    width: 27em;
    padding: 2em;
  }

  #about p {
    padding-top: 4.5em;
  }

  #about {
    background-color: white;
  }

  .sk8-1 {
    width: 40%;
    padding-right: 5px;
  }

  .sk8-2 {
    width: 40%;
    float: left;
    padding-left: 5px;
  }

  img {
    width: 100%;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    float: left;
    margin: 0;
    width: 6em;
  }

  .header {
    padding: 1em 1em 0 1em;
  }

  h1 {
    text-align: left;
    padding-left: 5em;
    padding-top: 3em;
  }

  nav {
    float: right;
    width: 40%;
    margin-top: -3.25em;
  }

  nav ul {
    padding-right: 10px;
  }

  nav ul li a {
    border-radius: 5px;
  }

  p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 3em;
  }

  h2 {
    text-align: center;
    margin: auto;
    width: 10em;
    border-radius: 5px;
  }

  #exp p {
    width: 50%;
    text-align: left;
  }

  .sk8-1 {
    float: none;
    display: inline-block;
    margin-left: 24.75%;
    width: 25%;
    padding-bottom: 2em;
  }

  .sk8-2 {
    float: none;
    display: inline-block;
    width: 25%;
    padding-bottom: 3em;
  }

  footer {
    text-align: center;
  }

  ul {
    padding: 0;
  }
}
